body {
  background: #23272f;
}

.about-container {
  max-width: 700px;
  margin: 70px auto;
  color: #e5e7eb;
  border-radius: 16px;
  padding: 40px;

  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
}

.about-container h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #5fa3f6;
  margin-bottom: 18px;
  letter-spacing: 1px;
}

.about-container p {
  font-size: 2rem;
  margin-bottom: 18px;
  color: #e5e7eb;
  text-align: justify;
}
